In [40]:
from collections import defaultdict
from datetime import datetime
import pandas as pd
import re

In [41]:
def parse_log_file(file_name):
    data = defaultdict(list)
    date_pattern = r'(?P<time>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d+)'
    placement_pattern = r': rank (?P<id>\S+) on (?P<core>\S+): '
    msg_pattern = r'(?P<msg>.+)'
    log_regex = re.compile(date_pattern + placement_pattern + msg_pattern)
    with open(file_name) as file:
        for line in file:
            line = line.strip()
            if 'running' in line or 'success' in line:
                continue
            else:
                matches = log_regex.search(line)
                if matches is not None:
                    data['timestamp'].append(datetime.strptime(matches.group('time'), '%Y-%m-%d %H:%M:%S.%f'))
                    rank, thread_id = matches.group('id').split('#')
                    data['rank'].append(int(rank))
                    data['thread_id'].append(int(thread_id))
                    core, host = matches.group('core').split('@')
                    data['core'].append(int(core))
                    data['host'].append(host)
                    data['event_type'].append('allocate' if 'alloc' in matches.group('msg') else 'fill')
        return pd.DataFrame(data)

In [51]:
log_data = parse_log_file('log.txt')

In [52]:
log_data

                    timestamp  rank  thread_id  core      host event_type
0  2022-08-29 10:20:02.885681     0          0     0  metatron   allocate
1  2022-08-29 10:20:02.885684     0          1     1  metatron   allocate
2  2022-08-29 10:20:02.885743     0          0     0  metatron       fill
3  2022-08-29 10:20:02.885765     0          1     1  metatron       fill
4  2022-08-29 10:20:02.885780     1          0     2  metatron   allocate
5  2022-08-29 10:20:02.885910     1          0     2  metatron       fill
6  2022-08-29 10:20:02.885781     2          0     4  metatron   allocate
7  2022-08-29 10:20:02.885784     2          1     5  metatron   allocate
8  2022-08-29 10:20:02.885924     2          0     4  metatron       fill
9  2022-08-29 10:20:02.885937     2          1     5  metatron       fill
10 2022-08-29 10:20:02.885784     1          1     3  metatron   allocate
11 2022-08-29 10:20:02.886647     1          1     3  metatron       fill
12 2022-08-29 10:20:03.822391     1          1     3  metatron   allocate
13 2022-08-29 10:20:03.822558     1          1     3  metatron       fill
14 2022-08-29 10:20:03.825422     0          1     1  metatron   allocate
15 2022-08-29 10:20:03.825579     0          1     1  metatron       fill
16 2022-08-29 10:20:03.835417     0          0     0  metatron   allocate
17 2022-08-29 10:20:03.835454     0          0     0  metatron       fill
18 2022-08-29 10:20:03.848463     1          0     2  metatron   allocate
19 2022-08-29 10:20:03.848513     1          0     2  metatron       fill
20 2022-08-29 10:20:03.899242     2          0     4  metatron   allocate
21 2022-08-29 10:20:03.899362     2          0     4  metatron       fill
22 2022-08-29 10:20:03.911617     2          1     5  metatron   allocate
23 2022-08-29 10:20:03.911718     2          1     5  metatron       fill
24 2022-08-29 10:20:05.189264     0          0     0  metatron   allocate
25 2022-08-29 10:20:05.189432     0          0     0  metatron       fill
26 2022-08-29 10:20:05.213781     1          0     2  metatron   allocate
27 2022-08-29 10:20:05.213847     1          0     2  metatron       fill
28 2022-08-29 10:20:05.223776     1          1     3  metatron   allocate
29 2022-08-29 10:20:05.224053     1          1     3  metatron       fill
30 2022-08-29 10:20:05.284118     2          1     5  metatron   allocate
31 2022-08-29 10:20:05.284209     2          1     5  metatron       fill
32 2022-08-29 10:20:05.286332     0          1     1  metatron   allocate
33 2022-08-29 10:20:05.286550     0          1     1  metatron       fill
34 2022-08-29 10:20:05.358590     2          0     4  metatron   allocate
35 2022-08-29 10:20:05.358689     2          0     4  metatron       fill
36 2022-08-29 10:20:07.017077     0          0     0  metatron   allocate
37 2022-08-29 10:20:07.017364     0          0     0  metatron       fill
38 2022-08-29 10:20:07.132622     1          0     2  metatron   allocate
39 2022-08-29 10:20:07.132697     1          0     2  metatron       fill
40 2022-08-29 10:20:07.172916     1          1     3  metatron   allocate
41 2022-08-29 10:20:07.173005     1          1     3  metatron       fill
42 2022-08-29 10:20:07.251597     2          1     5  metatron   allocate
43 2022-08-29 10:20:07.251689     2          1     5  metatron       fill
44 2022-08-29 10:20:07.259493     2          0     4  metatron   allocate
45 2022-08-29 10:20:07.259570     2          0     4  metatron       fill
46 2022-08-29 10:20:07.312406     0          1     1  metatron   allocate
47 2022-08-29 10:20:07.312502     0          1     1  metatron       fill
48 2022-08-29 10:20:09.405134     0          0     0  metatron   allocate
49 2022-08-29 10:20:09.405212     0          0     0  metatron       fill
50 2022-08-29 10:20:09.748372     1          1     3  metatron   allocate
51 2022-08-29 10:20:09.748462     1          1     3  metatron       fill
52 2022-08-29 10:20:09.941392     1          0     2  metatron   allocate
53 2022-08-29 10:20:09.941475     1          0     2  metatron       fill
54 2022-08-29 10:20:09.943422     0          1     1  metatron   allocate
55 2022-08-29 10:20:09.943481     0          1     1  metatron       fill
56 2022-08-29 10:20:10.013930     2          1     5  metatron   allocate
57 2022-08-29 10:20:10.014013     2          1     5  metatron       fill
58 2022-08-29 10:20:10.055628     2          0     4  metatron   allocate
59 2022-08-29 10:20:10.055711     2          0     4  metatron       fill

In [53]:
log_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   timestamp   60 non-null     datetime64[ns]
 1   rank        60 non-null     int64
 2   thread_id   60 non-null     int64
 3   core        60 non-null     int64
 4   host        60 non-null     object
 5   event_type  60 non-null     object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 2.9+ KB

In [56]:
log_data[['rank', 'thread_id', 'host', 'core']].drop_duplicates() \
    .groupby(['rank', 'thread_id', 'host']) \
    .aggregate(lambda tdf: tdf.unique().tolist())

                        core
rank thread_id host
0    0         metatron  [0]
     1         metatron  [1]
1    0         metatron  [2]
     1         metatron  [3]
2    0         metatron  [4]
     1         metatron  [5]